---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro";
import SpiceLevel from "../components/SpiceLevel.astro";
import Testimonials from "../components/Testimonials.astro";
import Location from "../components/Location.astro";
import Footer from "../components/Footer.astro";
import ChatWidget from "../components/ChatWidget.astro";
---

<Layout title="Mie Ganyang Sidoarjo - Pedas Nampol!">
	<Header />
	<main class="flex flex-col w-full min-h-screen pt-20">
		<Hero />
		<Menu />
		<SpiceLevel />
		<Testimonials />
		<Location />
		<Footer />
	</main>
	<ChatWidget />
</Layout>
